.container {
  display: inline-grid;
  grid-template: repeat(5, 100px) / repeat(5, 100px);
  background: lightblue;
  grid-template-areas:
    "living-room living-room living-room living-room living-room"
    "living-room living-room living-room living-room living-room"
    "bedroom bedroom bathroom kitchen kitchen"
    "bedroom bedroom bathroom kitchen kitchen"
    "closet closet bathroom kitchen kitchen";
}
.room {
  border: 1px solid black;
  text-align: center;
}
#living-room {
  grid-area: living-room;
}

#kitchen {
  grid-area: kitchen;
}

#bedroom {
  grid-area: bedroom;
}

#closet {
  grid-area: closet;
}
#bathroom {
  grid-area: bathroom;
}

.box {
  display: inline-grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 200px 200px 200px;
}

.card {
  background-color: bisque;
}

.first {
}
