@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap");

* {
  font-family: "DynaPuff", system-ui;
  margin: 0;
  padding: 0;
}

body {
  background-color: #eceae4;
}
input {
  border: none;
  font-size: 1.4rem;
}
input[type="text"] {
  padding: 10px 15px;
}
button {
  padding: 1em 2em;
}

.action-container {
  height: 100vh;
  width: 100%;
  position: absolute;
  display: none;
  background-color: rgba(62, 62, 68, 0.486);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.action-card {
  display: inline-flex;
  flex-direction: column;
  gap: 1em;
  max-width: 400px;
  min-width: 200px;
}
.container {
  padding: 1em;
  position: relative;

  height: 100vh;
}
.book-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
small {
  padding: 5px 10px;
  background-color: #6a8e66;
  color: #e4e2cf;
}
li {
  list-style: none;
}
.read-card {
  display: flex;
  gap: 1em;
}
#book-list {
  margin: 2em 0;
  gap: 1em;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
}
.book-item p {
  color: #232323c7;
  margin: 5px 0;
}
.book-item {
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
}
#showModal {
  border: #5b7b57;
  background-color: #6a8e66;
  color: #e4e2cf;
  cursor: pointer;
  border-radius: 1em;
}

#error-title {
  display: none;
}
.image-label {
  background-color: #6a8e66;
  padding: 1em;
  color: #e4e2cf;
  transition: 0.3s;
  cursor: pointer;
  transition: 0.3;
}
.image-label:hover {
  background: #5b7b57;
}

#fileChosen {
  display: none;
  max-width: 100%;
  height: 400px;
}
