@import url("https://fonts.googleapis.com/css2?family=Delius+Unicase:wght@400;700&family=DynaPuff:wght@400..700&display=swap");

.board {
  display: grid;
  grid-template-columns: repeat(3, 120px);
  grid-template-rows: repeat(3, 120px);
  gap: 5px;
}
.title {
  font-size: 5rem;

  padding: 10px;
  color: #064232;
}

#winner {
  color: #568f87;
  font-size: 3rem;
}
* {
  text-align: center;
  font-family: "DynaPuff", system-ui;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-color: #fff5f2;
  gap: 1em;
}
.reset {
  border: none;
  background-color: #568f87;
  color: #fff5f2;
  font-size: 2rem;
  padding: 10px 15px;
  border-radius: 5px;
}
button {
  cursor: pointer;
  border: none;
}
.board button {
  background-color: #f5babb;
  font-size: 3rem;
}
.board button:hover {
  transition: all 0.2s ease-in-out;
  background-color: #f38181;
}

.start {
  flex-direction: column;
  background-color: #f5babb;
  position: absolute;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  animation-timing-function: ease-in-out;
}
.start-card {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 500px));
  gap: 1em;
  justify-content: space-around;
  padding: 2em;
}

.start-card input {
  border: none;
  font-size: 2rem;
  padding: 5px;
  border-radius: 8px;
}
.start-card div {
  gap: 1em;
  display: flex;
  flex-direction: column;
}
.start-card div label {
  font-size: 2rem;
}

.start button {
  border: none;
  background-color: #568f87;
  color: #fff5f2;
  font-size: 2rem;
  padding: 10px 15px;
  border-radius: 5px;
  transition: transform 0.2s ease-in-out;
}
.start button:hover {
  background-color: #68afa6;
  transform: scale(1.2);
}
.start button:hover:active {
  background-color: #7fc6bd;
  transform: scale(1);
}
input:focus {
  outline: 5px solid #68afa6;
}
@keyframes example {
  0% {
    scale: 1;
  }
  25% {
    scale: 3;
  }
  100% {
    scale: 0;
  }
}
